/* -----------------------------------------------------------------------------
                                Background
-------------------------------------------------------------------------------- */
.modal-open {
  overflow-y: scroll;
}
/* -----------------------------------------------------------------------------
                                Flex
-------------------------------------------------------------------------------- */
.flex {
  display: flex;
}
.flex-row {
  flex-direction: row;
}
.justify-center {
  justify-content: center;
}

/* -----------------------------------------------------------------------------
                                Card
-------------------------------------------------------------------------------- */
#card {
  padding: 0;
  margin-right: 20px;
  margin-bottom: 30px;
}
  .card-text {
  max-height: 200px;
  min-height: 200px;
  overflow-y: auto;
  }
  .heart {
  margin-right: 10px;
  }
  .like {
  color: red;
  }

  /* ---------------------------------------------------------------------------
                                  Navbar
  ------------------------------------------------------------------------------ */
#navbar {

}
.img {
  width: 100%;
  max-height: 400px;
  min-height: 400px;
}
